<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Build test jobs based on sqlite3 tool</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.29">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.9.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/LuaDist/libsqlite3.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <assignedNode>builder</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>./configure &amp;&amp; make </command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>.libs/*.so,sqlite3</artifacts>
      <allowEmptyArchive>true</allowEmptyArchive>
      <onlyIfSuccessful>true</onlyIfSuccessful>
      <fingerprint>true</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
    </hudson.tasks.ArtifactArchiver>
    <io.jenkins.plugins.analysis.core.steps.IssuesRecorder plugin="warnings-ng@1.0.0">
      <analysisTools>
        <io.jenkins.plugins.analysis.warnings.Gcc4>
          <id></id>
          <name></name>
          <pattern></pattern>
          <reportEncoding></reportEncoding>
        </io.jenkins.plugins.analysis.warnings.Gcc4>
      </analysisTools>
      <sourceCodeEncoding></sourceCodeEncoding>
      <ignoreQualityGate>false</ignoreQualityGate>
      <ignoreFailedBuilds>true</ignoreFailedBuilds>
      <referenceJobName>-</referenceJobName>
      <healthy>0</healthy>
      <unhealthy>0</unhealthy>
      <minimumSeverity plugin="analysis-model-api@1.0.0">
        <name>LOW</name>
      </minimumSeverity>
      <thresholds>
        <unstableTotalAll>0</unstableTotalAll>
        <unstableTotalHigh>0</unstableTotalHigh>
        <unstableTotalNormal>0</unstableTotalNormal>
        <unstableTotalLow>0</unstableTotalLow>
        <unstableNewAll>0</unstableNewAll>
        <unstableNewHigh>0</unstableNewHigh>
        <unstableNewNormal>0</unstableNewNormal>
        <unstableNewLow>0</unstableNewLow>
        <failedTotalAll>0</failedTotalAll>
        <failedTotalHigh>0</failedTotalHigh>
        <failedTotalNormal>0</failedTotalNormal>
        <failedTotalLow>0</failedTotalLow>
        <failedNewAll>0</failedNewAll>
        <failedNewHigh>0</failedNewHigh>
        <failedNewNormal>0</failedNewNormal>
        <failedNewLow>0</failedNewLow>
      </thresholds>
      <filters/>
      <isEnabledForFailure>false</isEnabledForFailure>
      <isAggregatingResults>false</isAggregatingResults>
      <isBlameDisabled>false</isBlameDisabled>
    </io.jenkins.plugins.analysis.core.steps.IssuesRecorder>
  </publishers>
  <buildWrappers>
    <hudson.plugins.build__timeout.BuildTimeoutWrapper plugin="build-timeout@1.19">
      <strategy class="hudson.plugins.build_timeout.impl.NoActivityTimeOutStrategy">
        <timeoutSecondsString>180</timeoutSecondsString>
      </strategy>
      <timeoutEnvVar>BUILD_TIMEOUT</timeoutEnvVar>
      <operationList>
        <hudson.plugins.build__timeout.operations.AbortOperation/>
      </operationList>
    </hudson.plugins.build__timeout.BuildTimeoutWrapper>
  </buildWrappers>
</project>